/* Includes light/dark and high contrast material theme */
@import url('style.root.css');

body {
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background)
}

.page-content {
    color: var(--md-sys-color-primary)
}

a {
    color: var(--md-sys-color-primary);
}